$primary_color : #6E32FF;

/* Body CSS */
body {
    overflow: hidden;
}

::-webkit-scrollbar {display:none;}

/* Sidebar CSS */
.navCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    border-right: 1px solid #F6F5FA;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    a {
        display: block;
        width: 100px;
        height: 50px;
        margin: 20px 0;
        text-align: center;
        line-height: 50px;
        border-right: 3px solid transparent;
        color: #B4B2BF;
        font-size: 20px;
    
        &.active {
            border-right: 3px solid #6E32FF;
            color: #6E32FF;
        }

        &.btnSignOut {
            border-right: 0px;
            color: #B4B2BF;
        }
    }
}

.courseCont {
    margin: 20px 0;
}

/* Page CSS */
.pageCont {
    display: flex;
    height: 100vh;
    flex: 2;
}

.sidebarCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCont {
    display: flex;
    flex: 1;
    padding: 50px 30px;
    overflow: scroll;
    flex-direction: column;
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
}

// Home Page CSS

.ui.card {
    width: auto;
}

.cardInfo {
    align-self: center;
    // text-align: left;

    .meta {
        margin: .5em 0 .5em !important;
        font-size: 12px !important;
        line-height: 150% !important;
        color: #7f7f7f !important;
    }

    .description {
        font-size: 12px !important;
        font-weight: bold !important;
        color: #666666 !important;
    }
}

// Search CSS

.input {
    width: 70%;
    align-self: center;
    height: 50px;

    input {
        border-radius: 25px !important;
        font-size: 14px;
        height: 50px;
        padding-left: 20px !important;
    }

    .icon {
        margin-right: 10px !important;
    }
}

.searchCont {
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    .meta {
        margin: .5em 0 .5em !important;
        font-size: 12px !important;
        line-height: 150% !important;
        color: #7f7f7f !important;
    }

    .description {
        font-size: 12px !important;
        font-weight: bold !important;
        color: #666666 !important;
    }
}

.message {
    width: 80%;
    align-self: center;
}

.searchhistorysize {
    width: 60%;
}

.classhissize {
    width: 40%;
}

/* Login CSS */

.loginCont {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    .loginTab {
        width: 400px;
        align-items: center;
        justify-content: center;

        .tabular .item {
            width: 50%;
        }

        .input {
            width: 100%;
            margin: 10px 0;
            input {
                border-radius: 5px !important;
            }
        }

        .dropdown {
            width: 100%;
            margin: 10px 0;
            height: 50px;
            line-height: 25px;
            display: block;
            border-radius: 5px !important;
            i {
                line-height: 25px !important;
            }
        }

        .button {
            height: 40px;
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-top: 15px;   
        }
    }
}

/* Question Modal CSS */

.questionModal {
    .progress {
        margin-bottom: 50px !important;
    }
    .row .column:last-child {
        padding: 10px;

        table {
            min-height: 300px;
            height: 100%;
        }
    }
}

/* Profile Page CSS */

.profile_cont {
    table {
        width: 50% !important;
        border: 1px solid;
        tr {
            height: 70px;
            
            td {
                border: 0px solid !important;
                font-weight: bold;
                padding: 10px !important;
            }
            .input {
                width: 100% !important;
            }
            input {
                border-radius: 5px !important;
            }
        }
    }
    button {
        width: 150px;
        height: 45px;
    }
}

// Teacher Courses

.teacherCourses,.studentCourses {
    .card {
        margin-bottom: 40px !important;
    }
}

.graphContainer {
        height: auto;
        width: 100%;
        padding: 20px;
        // canvas {
        //     width: 100% !important;
        //     height: auto !important;
        //     // margin: 0 auto;
        // }
    }

.questionP {
    margin-bottom: 0;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
}